* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

header p {
    font-size: 0.95rem;
}


nav {
    margin-top: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav ul li a {
    background: white;
    color: #2c3e50;
    padding: 8px 14px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

nav ul li a:hover {
    background: #e1ebff;
    border-color: #3a6dd8;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    background: white;
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

section h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

section p {
    margin-bottom: 15px;
}

.activity-image {
    text-align: center;
    margin-top: 20px;
}

.activity-image img {
    max-width: 100%;
    border-radius: 10px;
}

.image-caption {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #777;
}


.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 15px; 
    justify-items: center;
    margin-top: 20px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#azul {
    height: 101px;
    width: 180px;
}
.activity-image img {
    max-width: 100%;
    border-radius: 10px;
}

.tabla-licencias {
    display: grid;
    grid-template-columns: 150px 150px 150px 1fr;
    gap: 12px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.tabla-licencias .header {
    font-weight: bold;
    background: #e8f0ff;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.tabla-licencias div {
    display: flex;
    align-items: center;
}

.tabla-licencias img {
    width: 80px;
    height: auto;
    border-radius: 6px;
    margin-left: 40px;
   
}

.tabla-licencias a {
    color: #3a6dd8;
    text-decoration: none;
    font-weight: bold;
}

.tabla-licencias a:hover {
    text-decoration: underline;
}
